* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* .outline {
  border: 5px red dashed;
} */

/* Header styling */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #40553F;
  color: #E7D6E8;
  display: flex;
  justify-content: space-between;
}

/* Navigation alignment */
header h3 {
  display: inline-block;
}

/* Navigation font and positioning */
header nav {
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

/* Navigation links horizontal lining */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Navigation link color */
a {
  color: #E7D6E8;
  text-decoration: none;
}

.hero-image, .content {
  width: 100%;
}

.Portfolio-Box, .Contact-Box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Main image properties */
.hero-image {
  height: 850px;
  background-image: url("../images/ATLANTA-SKYLINE.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#Ron-photo {
  border-radius: 50%;
  height: 300px;
  border: medium ridge #d1d1d1;
  /* margin-left: 42%; */
  margin-top: 30%;
}

.hero-text {
  color: #ffffff;
  text-decoration: none;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  text-align: center;
  /* top: 70%;
  left: 50%; */
}

.content {
  background-color: #40553F;
  color: #E7D6E8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient(
    #40553F 0%,
    #E7D6E8 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Info-Box  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.Portfolio-Box, .Contact-Box {
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.portfolio-container {
  width: 100%;
}

/* .project-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;  
} */

.Portfolio-Box h2 {
  width: 200px;
  font-size: 28px;
  border-right: solid 5px black;
  margin-right: 10px;
}

/* .Project {
  flex-basis: 200px;
} */

#OldProject {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.Project {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#Lead-Project {
  background-image: url(../images/website-screenshot.png);
  height: 300px;
}

.Project.Old {
  background-image: url(../images/coming-soon.jpg);
  width: 100%;
  height: 150px;
  margin: 10px;
}

.Lead, .Old {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#Lead-Project h3  {
  background-color: rgba(0, 0, 0, 0.822);
  font-size: 30px;
  width: 10%;
  margin-bottom: 80px;
}

.Project.Old h5 {
  background-color: rgba(0, 0, 0, 0.822);
  width: 20%;
  margin-bottom: 10px;
}

.Contact-Box h2 {
  width: 180px;
  font-size: 28px;
  border-right: solid 5px black;
}

.Contact-Box ul {
  text-align: right;
}

/* Footer box and font format */
.footer {
  padding: 20px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color:#E7D6E8;
  color: #40553F
  ;
}

/* Footer font size */
.footer h2 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  article {
    width: 100%;
    text-align: center;
  }
}

/* .content .Info-Box {
  padding: 45px;
  text-align: center;
}

.Info-Box h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.Info-Box p {
  font-size: 22px;
  padding-bottom: 25px;
} */

/* .Portfolio-Box {
  margin-left: 10%;
  padding-bottom: 25px;
}

.Portfolio-Box .border {
  border: 3px solid#E7D6E8;

}

.Portfolio-Box h2 {
position: absolute;
border-right: 3px solid#E7D6E8;
font-size: 40px;
padding-top: 10%;
padding-right: 20px;
padding-bottom: 600px;
}

.Portfolio-Box section {
position: relative;
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
}

.Portfolio-Box #Lead-Project {
  background-image: url(../images/website-screenshot.png);
  height: 500px;
  width: 85%;
  flex-wrap: wrap;
  border: medium ridge #424040;

}

#Lead-Project h3 {
  bottom: 20%;
  left: 15%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  font-size: 40px;
  background-color:#E7D6E8;
  color: #40553F;
  border-left: medium ridge #424040;
}

.Project {
  float: right
}

#Old-Project {
  display: flex;
  justify-content: space-evenly;  
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 24px;
}

#oldProject1 {
  background-image: url(../images/coming-soon.jpg);
  width: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#oldProject2 {
  background-image: url(../images/coming-soon.jpg);
  height: 200px;
  width: 200px;
}

#oldProject3 {
  background-image: url(../images/coming-soon.jpg);
  height: 200px;
  width: 200px;
}

.Portfolio-Box h5 {
  bottom: 20%;
  left: 20%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  font-size: 20px;
  background-color:#E7D6E8;
  color: #40553F
} */

/* .Contact-Box {
  text-align: right;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 30px;
  color: #40553F;
} */

