* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header styling */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #40553F;
  color: #E7D6E8;
}

/* Navigation alignment */
header h3 {
  display: inline-block;
}

/* Navigation font and positioning */
header nav {
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

/* Navigation links horizontal lining */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Navigation link color */
a {
  color: #E7D6E8;
  text-decoration: none;
}

/* Main image properties */
.hero-image {
  height: 850px;
  width: 100%;
  background-image: url("../images/ATLANTA-SKYLINE.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

#Ron-photo {
  border-radius: 50%;
  height: 300px;
  border: medium ridge #d1d1d1;
  /* margin-left: 42%; */
  margin-top: 30%;
}

.hero-text {
  color: #ffffff;
  text-decoration: none;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  text-align: center;
  /* top: 70%;
  left: 50%; */
}

.content {
  background-color: #40553F;
  color: #E7D6E8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content .Info-Box {
  padding: 45px;
  text-align: center;
}

.Info-Box h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.Info-Box p {
  font-size: 22px;
  padding-bottom: 25px;
}

.Portfolio-Box {
  margin-left: 10%;
  padding-bottom: 25px;
}

.Portfolio-Box h2 {
position: absolute;
font-size: 40px;
padding-top: 10%;
}

.Portfolio-Box section {
position: relative;
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
}

.Portfolio-Box #Lead-Project {
  background-image: url(../images/website-screenshot.png);
  height: 500px;
  width: 80%;
  flex-wrap: wrap;
}

#Lead-Project h3 {
  bottom: 20%;
  left: 20%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  font-size: 35px;
  background-color:#E7D6E8;
  color: #40553F;
  border-right: #E7D6E8;
}

.Project {
  float: right
}

.Old-Project {
  display: flex;
  justify-content: space-evenly;  
  flex-wrap: wrap;
  padding-top: 16px;
}

#Old-Project-1 {
  background-image: url(../images/coming-soon.jpg);
  background-size: cover;
  height: 300px;
}

#Old-Project-2 {
  background-image: url(../images/coming-soon.jpg);
  height: 200px;
  width: 200px;
}

.Portfolio-Box h5 {
  bottom: 20%;
  left: 20%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  font-size: 20px;
  background-color:#E7D6E8;
  color: #40553F
}

.Contact-Box {
  text-align: right;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 30px;
}

/* Footer box and font format */
.footer {
  padding: 20px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color:#E7D6E8;
  color: #40553F
  ;
}

/* Footer font size */
.footer h2 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
