* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header styling */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0b0e33;
  color: #AF9CB0;
}

/* Navigation alignment */
header h3 {
  display: inline-block;
}

/* Navigation font and positioning */
header nav {
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

/* Navigation links horizontal lining */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Navigation link color */
a {
  color: #AF9CB0;
  text-decoration: none;
}

/* Main image properties */
.hero-image {
  height: 850px;
  width: 100%;
  background-image: url("../images/ATLANTA-SKYLINE.jpg");
  background-size: cover;
  background-position: center;
}

#Ron-photo {
  border-radius: 50%;
  height: 300px;
  border: medium ridge #d1d1d1;
  margin-left: 42%;
  margin-top: 10%;
}

.hero-text {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 		-2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  text-align: center;
  top: 70%;
  left: 50%;
}

.content {
  background-color: #0b0e33;
  color: #AF9CB0;
}

.content .Info-Box {
  padding: 25px;
}

.Info-Box strong {
  font-size: 26px;

}

.Info-Box p {
  font-size: 20px;

}

/* Footer box and font format */
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* Footer font size */
.footer h2 {
  font-size: 18px;
}

